#login-form {
    font-size: 1.5vmax;
}
#login-form header {
    font-size: 1.5em;
}
#login-form .links {
    margin: 0;
    padding: 0;
}
#login-form a {
    font-size: 1.1vmax;
    margin: 5px 0;
    white-space: nowrap;
}
#login-form a:hover {
    text-decoration: none;
}
#login-form .label {
    color: black;
    font-size: .55em;
    text-transform: uppercase;
}
#login-form button {
    font-family: source_sans_proregular, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
}
#login-form label input {
    clear: both;
    font-size: 16px;
}
#login-form label {
    clear: both;
    float: left;
}
#login-form section {
    padding: 20px 0;
    clear: both;
}
#login-form button[type=submit] {
    float: left;
}
#login-form label.checkbox-round {
    clear: none;
    font-size: 1.1vmax;
    line-height: 1.1vmax;
    margin: 10px 0 0 25px;
}
#login-block {
    background-color: #fff;
    border-radius: 3px;
    padding: 40px;
    position: absolute;
    right: 5%;
    top : 10%;
}
#login-block .input input {
    background-color: white;
    border-top: none;
    border-left : none;
    border-right: none;
    font-size: 20px;		    
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
    #login-block {
        padding: 25px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1400px) {
    #login-block {
        padding: 15px;
    }
    #login-block label.checkbox-round { margin: 10px 0 0 15px; }
    #login-block label.checkbox-round img { height: 17px; }
    #login-block .row { margin: 0px; }
    #login-block section {
        padding: 5px 0;
    }
}
