.panel-default {
    border:none;        
    border: solid 1px #d1d3d4;
}
.panel-default>.panel-heading {
    background-color: #f1f2f2;
}
.panel-collapse {
}
.row section {
    padding: 0px 5px;
}
.panel-body {
    
}