/*
 * Globals
 */

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

h1 {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Cover
 */

.cover {
  padding: 30px 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.tel,
.tel:hover {
  color: black;
}
/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .cover-container {
    width: 700px;
  }
}

.btn-default:not(.btn-link):not(.btn-flat) {
  color: #000;
}
