<template name='home'>
  <div class="site-wrapper">
    <div class="site-wrapper-inner">
      <div class="cover-container">
        <div class="inner cover">
          <img height='75%' width='75%' src='assets/logo-circle-white.svg' alt='Modern Web' onerror='this.onerror=null; this.src="logo-circle-white.png"'>
          <h1 class="cover-heading">Web and mobile apps for the future.</h1>
          <p class="lead">We seek to revolutionize app development. Born and bred in the heart of Ohio, we are the <b>Modern Web</b>.</p>
          <p class="lead">
            <a href="mailto:contact@modweb.io" class="btn btn-default btn-raised">Contact Us</a>
          </p>
        </div>

        <div class="footer">
          <div class="inner">
            <p>Crafted with <i class='fa fa-heart'></i> in Columbus, Ohio</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
